.post {
  padding: 0.5rem 1rem;
}
.post_wrap {
  background-image: '../../../Public/post_it';
  background-size: 30% 30%;
  background-repeat: no-repeat;
}
.post_content {
  /*white-space: pre-wrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}