.post {
  display: flex;
  padding: 0.5rem 1rem;
}

.post_wrap {
  position: relative;
}

.post_wrap img {
  width: 400px;
  vertical-align: middle;
}

.post_content {
  position: absolute;
  text-align: center;
}
/*.post_wrap .post_content {
  white-space: pre-wrap;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 2;
}*/